/*Estilo da página index.html*/
.center {
    text-align: center;
    color: aliceblue;
}

.justify {
    text-align: justify;
    color: aliceblue;
}

body {
    font-family: 'Roboto';
    background-color: #1C2826;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 5em 0 5em;
}

#menu{
    background-color: #7DBA84;
    padding: 1.5em;
}

#menu li {
    display: inline;
    padding: 1em;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#menu li a:hover {
    color: gray;
}

.padding30 {
    padding: 1.2em;
}

.imagem {
    border-radius: 50%;
    width: 100%;
}

.tm-social {
    width: 2em;
    padding: 1em;
}

.mb-50 {
    margin-bottom: 3em;
    color: aliceblue;
}

/*Estilo da página contato.html*/
.ml-50 {
    margin-left: 3em;
}

.bt{
    background: #BFC3BA;
    border: none;
    color: #333;
    font-size: 0.9em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}